html {
    box-sizing: border-box;
  }

body {
  background-color: #e9ebee;
  font-family: 'Open Sans', sans-serif;
}

  /* LINKS ------------------------------- */
  /* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}
  
  /* mouse over link */
a:hover {
  color: red;
}

  /* selected link */
a:active {
  color: gray;
}

   /* GRID orokorra ataletarako eta background irudia*/
.edukiontzia {
  margin-right: auto;
  margin-left: auto;
  height: 1fr; 
        /* grid lodia vvv */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0;
        /* background irudia vvv */
  background-attachment: fixed;
  background-image: url("../img/auto-repair-1954636_1280.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

    /* HEADER barneko gauzak ----HASIERA---------------------*/
#header {
  height: 100%;
}

    /* nabigatzailearen gainekoa (tfno + sare soz) */
.barrabaltz {
  background-color: #333;
  width: 100%;
}

    /* Goiko sare sozialen div-a */
#sasozbaltz {
  padding-left: 25px;
}

  /* logo eta nav-aren div-a */
.logo-nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-areas: 'lg nv nv';
}

.logo {
    grid-area: lg;
    padding-left: 15px;
}

.nav {
    grid-area: nv;
    padding-bottom: 20px;
    padding-right: 15;
}

  /* ul-aren class-a */
.menu-list {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  list-style-type: none;
  float: right;
  padding: 10px 10px 10px 10px;
  z-index: 10;
}
    /* HEADER ------ AMAIERA ^^^------------------*/

   /* atal guztietako grid oinarria (atalak) */
.atalak {
  display: flex;
  /*justify-content: center;*/
  padding-left: 0;
  padding-right: 0;
} 

  /*atal bakoitzeko titulua  */
.tituluak {
  font-family: url("../font/Capsmall_clean.ttf");
  color: red;
}

/* P2zerbitzuko irudiak  */
.P2zer img {
  height: 150px;
  width: 200px;
  padding: 2em 0.5em 0.5em 0.5em;
}

  /* atalak Pn */
#P0nagusia {
 
}

#P1norgara {
  height: 200px;
  background-color: transparent;
}

#P2zerbitzuak {
    background-color: rgba(255, 255, 255, 0.849);
}

/* P2zerbitzuko irudiak  */
.P2zer img {
  height: 150px;
  width: 200px;
  padding: 2em 0.5em 0.5em 0.5em;
}

.P2zer {
  height: 300px;
  background-color: rgba(201, 26, 26, 0.849);
}

#P3birziklapena {
    background-color: transparent;
}

#P4harremana {
    height: 600px;
    background-color: #975e61;
}

  /* Fieldset, formularioen taldea  -----------*/
fieldset {
  background-color:  #9e151b;
  color:  white;
}

   /* Fieldset, legend */
legend {
  background-color: #9e151b;
  color: white;
  padding: 5px 10px;
}

  /* Fieldset, input ----------------*/
input {
  margin: 5px;
}

.footerclass {
    height: 200px;
    background-color: #131313;
}


/* TABLET mediano, para anchos de pantalla de entre 480 y 800px */ 
@media screen and (min-width:480px) {

  
	}
}

/* ORDENADOR grande, para anchos de pantalla de entre 800 y 1280px */ 
@media screen and (min-width:800px) {


	}
}